<div ng-controller="ClaimsController" ng-cloak class="demo-so demo-background">



<md-toolbar class="md-hue-2">

	  <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="gotoHome()">
         <md-icon ng-bind="'home'"></md-icon>
        </md-button>

        <h2 flex md-truncate>Sales Order</h2>

    
         <md-menu>
       <md-button class="md-icon-button" aria-label="More" ng-click="openMenu($mdOpenMenu,$event)">
          <md-icon md-menu-origin ng-bind="'more_vert'"></md-icon>
        </md-button>
      <md-menu-content width="4" ng-mouseleave="close()">
        <md-menu-item>
          <md-button>
            <md-icon ng-bind="'info'"></md-icon> About
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button>
            <md-icon ng-bind="'perm_identity'"></md-icon> User preferences
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button>
           <md-icon ng-bind="'power_settings_new'"></md-icon> Logout
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

      </div>

    </md-toolbar>

  <md-content class="md-padding" layout="row">
    
    <div layout="row" flex="100" layout-xs="column">


     <div flex="25" flex-xs="100">
        <div layout="column" >
          <fieldset class="table-set" >
          <h5>Partner Info</h5>
          <label>Ship To:</label>
          <select name="shipTo" style="width:100%" ng-model="shipToSelected" ng-change="changeShipTo(shipToSelected)">
                  <option value=""></option>
                  <option ng-repeat="s in shipToArray" value="{{s.value}}">{{s.label}}</option>
                </select>
          <br/>
          <label>Sold To:</label>
          <select name="soldTo" style="width:100%" ng-model="soldToSelected">
                  <option value=""></option>
                  <option ng-repeat="s in soldToArray" value="{{s.value}}">{{s.label}}</option>
                </select>
          <br/>
            <label>Payer:</label>
          <select name="payer" style="width:100%" ng-model="payerSelected">
                  <option value=""></option>
                  <option ng-repeat="s in payerArray" value="{{s.value}}">{{s.label}}</option>
                </select>
          <br/>    
          <label>Ship To:</label>
          <select name="shipTo2" style="width:100%" ng-model="shipTo2Selected">
                  <option value=""></option>
                  <option ng-repeat="s in shipToArray" value="{{s.value}}">{{s.label}}</option>
                </select>
          <br/>
           <h5>Sales Selection</h5>
            <label>Organization:</label>
              <select name="organization" style="width:100%" ng-model="organizarionSelected">
                  <option value=""></option>
                  <option ng-repeat="s in organizationArray" value="{{s.value}}">{{s.label}}</option>
                </select>
            <br/>
            <label>Channel:</label>
            <select name="channel" style="width:100%" ng-model="channelSelected">
                  <option value=""></option>
                  <option ng-repeat="s in channelArray" value="{{s.value}}">{{s.label}}</option>
                </select>
             <br/>
             <label>Division:</label>
             <select name="division" style="width:100%" ng-model="divisionSelected">
                  <option value=""></option>
                  <option ng-repeat="s in divisionArray" value="{{s.value}}">{{s.label}}</option>
                </select>
            <br/>
            <label>Office:</label>
            <select name="office" style="width:100%" ng-model="officeSelected">
                  <option value=""></option>
                  <option ng-repeat="s in officeArray" value="{{s.value}}">{{s.label}}</option>
                </select>
            <br/>
                <label>Group:</label>
                <select name="group" style="width:100%" ng-model="groupSelected">
                  <option value=""></option>
                  <option ng-repeat="s in groupArray" value="{{s.value}}">{{s.label}}</option>
                </select>
          </fieldset>
              
        </div>
    </div>

    <div flex="65" flex-xs="100" >
      <div >
       
       <b>Material Catalog</b>
        <fieldset class="table-set" >
          
          <div flex="100" class="table-container">
            <md-table-container ng-show="materialCatalog && materialCatalog.length>0">
              <table md-table md-row-select ng-model="materialSelected" md-progress="materialCatalogProgress">
                <thead md-head >
                  <tr md-row>
                    <th md-column class="td-space"><span>Description</span></th>
                    <th md-column class="td-space"><span>Group</span></th>
                    <th md-column class="td-space"><span>Material</span></th>
                    <th md-column class="td-space"><span>Plant</span></th>
                    <th md-column class="td-space"><span>Price</span></th>
                    <th md-column class="td-space"><span>Uom</span></th>
                </thead>
                <tbody md-body> 
                  <tr md-row md-auto-select md-select="m" ng-repeat="m in materialCatalog" >
                    <td md-cell class="td-space">{{m.DESCRIPTION}}</td>
                    <td md-cell class="td-space">{{m.GROUP}}</td>
                    <td md-cell class="td-space">{{m.MATERIAL}}</td>
                    <td md-cell class="td-space">{{m.PLANT}}</td>
                    <td md-cell class="td-space">{{m.PRICE}}</td>
                    <td md-cell class="td-space">{{m.UOM}}</td>                                       
                  </tr>
                </tbody>
              </table>
            </md-table-container> 
          </div>
        </fieldset>
       
          </div>

       <div >
             
             <fieldset class="table-set" style="border: 0px">

          <div flex="100" class="table-container-2">
            <label>Order Number:</label>
          <select name="order" style="width: 200px" ng-model="orderSelected" ng-disabled="shipToSelected == '' || shipTo2Selected == '' || soldToSelected == '' || payerSelected == '' || organizarionSelected == '' || channelSelected == '' || divisionSelected == '' || officeSelected == '' || groupSelected == ''" ng-change="changeOrder(orderSelected)">
              <option value=""></option>
              <option value="20168">20168</option>
              <option value="NEW">New SO</option>
            </select>
          
             <label>Number of lines</label>
            <input type="range" style="width:300px" ng-model="multiplier" min="1" max="30" step="1" >{{multiplier}}
          
          </div>
        </fieldset>
      </div> 

      <div >
       
       <b>Sales Order Info</b>
        <fieldset class="table-set" >
          <div flex="100" class="table-container">
            <md-table-container" ng-show="false">
              <table md-table >
                <thead md-head >
                  <tr md-row>
                    <th md-column class="td-space"><span>Description</span></th>
                    <th md-column class="td-space"><span>Group</span></th>
                    <th md-column class="td-space"><span>Material</span></th>
                    <th md-column class="td-space"><span>Plant</span></th>
                    <th md-column class="td-space"><span>Price</span></th>
                    <th md-column class="td-space"><span>Uom</span></th>
                </thead>
                <tbody md-body> 
                 
                </tbody>
              </table>
            </md-table-container> 
          </div>
        </fieldset>
       
          </div>

      <div style="padding-top: 20px">
        <b>Execution Log</b>
      <fieldset class="table-set" >
          <div flex="100"  class="table-container" style="background-color: #e2dfdf;height: 120px">
            <span ng-bind-html="log" style="font-size: 12px"></span>
          </div>
      </fieldset>
    </div>

    <div >
      <div layout="column" layout-xs="row" flex="90" flex-xs="100"></div>
      <div layout="column" layout-xs="row" flex="10" flex-xs="100" style="padding-bottom: 50px">
          <button style="width: 100px">Log</button>
      </div>
    </div>

</div>


    

  <div flex="10" flex-xs="100" >
     <div layout="column" style="padding-top: 20px">
           
              <button style="margin-bottom: 7px;width: 110px">BI Xfer</button>
              <button style="margin-bottom: 7px;width: 110px">Notes</button>
              <button style="margin-bottom: 7px;width: 110px" disabled="true">Sales/Partner</button>
              <button style="margin-bottom: 7px;width: 110px" disabled="true">Analytics</button>
              <button style="margin-bottom: 7px;width: 110px" disabled="true">Add Others</button>
            </div>
  </div>
   
    </div>
     
  </md-content>
</div>